.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.navBar {
    padding: 5px;
    background-color: gray;
    border-radius: 2px;
    margin: auto;
}

.navBar-element {
    margin:auto;
}

.inline {
    display:inline
}